*{
    font-family: Comic Sans MS;
}
img{
}
figure{
    display: inline-block;
    margin-right: 100px;
    background-color: grey;
    width: 200px;
    position: relative;
}
figure img{    
    height: auto;
    width: 100%;    
}

figcaption {
    color: white;
}
div{
    margin: 5px 20px 5px 20px;
    background: grey;
    border-bottom: 100px black;
}